/* Fonts */

$font: 'Roboto', sans-serif;

/* Colors */
$decorado-color: #ff0052;
$box-shadow-login: rgba(87, 184, 70, 0.5);
$box-shadow-login-hover: rgba(51, 51, 51, 0.5);
$main-responsive-size: 991px;
