<div class="container-login">
  <div class="wrap-login">
      <span class="login-form-avatar">
        <img src="assets/images/icon.png" alt="AVATAR">
      </span>
    <span class="login-form-title">
          Decorado
      </span>
    <form [formGroup]="form" (ngSubmit)="login()" class="login-form">
        <span class="login-error" [hidden]="!loginError">
          Credenciais inválidas. Tente novamente.
        </span>
      <mat-form-field class="mat-input-field">
        <input autofocus matInput placeholder="Login" onchange="loginError = false" (change)="loginError = false" type="text" required [formControl]="form.controls['userLogin']">
      </mat-form-field>

      <mat-form-field class="mat-input-field">
        <input matInput placeholder="Senha" onchange="loginError = false" (change)="loginError = false" required [formControl]="form.controls['password']"
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <div class="container-login-form-btn">
        <button type="submit" [disabled]="form.invalid" [ngClass]="{'disable-login-button': form.invalid}"
                class="login-form-btn">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
