<div class="container-users">

  <div class="row header-row">
    <div *ngIf="isAdminUser()" class="button-row">
      <button mat-raised-button class="new-user" (click)="openModal(templateNewUser, null)">
        <span>Novo Usuário</span>
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <app-search-user class="search-box" (usersEmit)="searchedUsers($event)"></app-search-user>
  </div>

  <div *ngFor="let user of users" class="card" aria-controls="collapseCard">
    <div class="row adjusts-list-users">
      <div class="adjust-padding-userLogin col align-self-start clickable-col"
           (click)="closeCollapsedDivs(user)">
        {{user.login}}
      </div>
      <div *ngIf="isAdminUser()" class="adjust-padding align-self-end">
        <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
          <i class="fa fa-ellipsis-v"></i>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openModal(templateEditUser, user)">Editar</button>
          <button mat-menu-item (click)="openModal(templateRemoveUser, user)">Remover</button>
        </mat-menu>
      </div>
    </div>
    <app-collapse [collapsed]="user.collapse">
      <div class="row">
        <span class="col">
          <mat-form-field class="mat-field-full-width">
            <input matInput placeholder="Login" disabled value="{{user.login}}">
          </mat-form-field>
        </span>
        <span class="col">
          <mat-form-field class="mat-field-full-width">
            <input matInput placeholder="Nome" disabled value="{{user.name}}">
          </mat-form-field>
        </span>
        <span class="col">
          <mat-form-field class="mat-field-full-width">
            <input matInput placeholder="Perfil" disabled value="{{user.profile}}">
          </mat-form-field>
        </span>
      </div>
    </app-collapse>
  </div>
</div>

<ng-template #templateNewUser>
  <app-new-user [modalRef]="modalRef" (createdUserEmmiter)="fetchUsers()"></app-new-user>
</ng-template>

<ng-template #templateRemoveUser>
  <app-delete-user [modalRef]="modalRef" [user]="selectedUser" (deletedUserEmmiter)="fetchUsers()"></app-delete-user>
</ng-template>

<ng-template #templateEditUser>
  <app-edit-user [modalRef]="modalRef" [user]="selectedUser" (editedUserEmmiter)="fetchUsers()"></app-edit-user>
</ng-template>
