@import '../../../sass/default';

.container-users {
  padding: 0 15px;
  .header-row {
    justify-content: space-between;
    .search-box {
      padding: 0 15px;
    }
  }
}

.menu-button {
  float: right;
}

.clickable-col {
  cursor: pointer;
}

.adjust-padding-userLogin {
  padding: 16px;
}

.adjust-padding {
  padding: 10px;
}

.adjusts-list-users {
  margin: 0;
}

.button-row {
  padding: 15px;
}

.new-user {
  background-color: $decorado-color;
  color: #FFFFFF;
}

.modal-header .close {
  padding: 21px 15px;
}

.card {
  margin-bottom: 3px;
}

.mat-field-full-width {
  width: 100%;
}
