<div class="container-users">
  <div *ngIf="isAdminUser()" class="button-row">
    <button mat-raised-button class="new-user" (click)="openModal(templateNewUser, null)">Novo Usuário</button>
  </div>

  <div *ngFor="let user of users" class="card" aria-controls="collapseCard">
    <div class="row adjusts-list-users">
      <div class="adjust-padding-userLogin col align-self-start clickable-col"
           (click)="closeCollapsedDivs(user)">
        {{user.login}}
      </div>
      <div *ngIf="isAdminUser()" class="adjust-padding align-self-end">
        <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
          <i class="fa fa-ellipsis-v"></i>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openModal(templateEditUser, user)">Editar</button>
          <button mat-menu-item (click)="openModal(templateRemoveUser, user)">Remover</button>
        </mat-menu>
      </div>
    </div>
    <app-collapse [collapsed]="user.collapse">
      <div class="row">
        <span class="col">
          {{user.login}}
        </span>
        <span class="col">
          {{user.profile}}
        </span>
      </div>
    </app-collapse>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<ng-template #templateNewUser>
  <app-new-user [modalRef]="modalRef" (createdUserEmmiter)="fetchUsers()"></app-new-user>
</ng-template>

<ng-template #templateRemoveUser>
  <app-delete-user [modalRef]="modalRef" [user]="selectedUser" (deletedUserEmmiter)="fetchUsers()"></app-delete-user>
</ng-template>

<ng-template #templateEditUser>
  <app-edit-user [modalRef]="modalRef" [user]="selectedUser" (editedUserEmmiter)="fetchUsers()"></app-edit-user>
</ng-template>
