<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col-md-11 col-sm-11 col-xs-11 clickable-col vertical-center">
    <a class="navbar-brand">Navbar</a>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-1 vertical-center">
    <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
      <i class="fa fa-ellipsis-v"></i>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
      <button mat-menu-item (click)="goTo('/users')">Usuários</button>
    </mat-menu>
  </div>
</nav>
