@import '../../../sass/mixins/default';

.menu-button {
  float: right;
}

.menu-button:focus {
  outline: none !important;
  border: none;
}

nav {
  background-color: #D1C3E9;
  background-image: linear-gradient(transparent 0, rgba(145,195,233, 0.3) 53%, #D1C3E9);
}

img {
  width: 127px;
  height: 37px;
}
