@import '../../../sass/mixins/default';

.menu-button {
  float: right;
}

.menu-button:focus {
  outline: none !important;
  border: none;
}

nav {
  background-color: #D1C3E9;
}

img {
  width: 127px;
  height: 37px;
}
