<nav [hidden]="!isAuth" class="navbar navbar-expand-lg navbar-light">
  <img src="assets/images/decora_icon_plus_name.png">
  <div class="col align-self-start vertical-center">
    <a class="navbar-brand">Bem-vindo {{userLogin}}</a>
  </div>
  <div class="align-self-end">
    <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
      <i class="fa fa-ellipsis-v"></i>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
      <button mat-menu-item routerLink="/users">Usuários</button>
    </mat-menu>
  </div>
</nav>
